.container {
  background: #ffcc33;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffcc33, #ffb347);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffcc33, #ffb347); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  font-size: calc(10px + 2vmin);
  height: 100vh;
}

.container h1 {
  font-weight: initial;
  margin-top: 0;
}

.header {
  display: flex;
  flex-direction: column;
  height: calc(100% - 80px);
  justify-content: center;
  padding: 0 15%;
}

.navigation {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: flex-end;
  padding: 0 5%;
}
